/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-dic-2015, 04-dic-2015 12:56:55
    Author     : mario
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(168, 168, 168, 0.21);
    font-family: 'Didact Gothic', sans-serif;
}


#mycar, #empresa, #car {
    color: white;
}

#register{
    color:#F84F52;
}
#session{
    color:#F84F52;
}
#cuenta{
    color:#F84F52;
}
#cog{
    color:#F84F52;
}
#buttonTravel{
    opacity: 0.5;
}



.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.remodal-bg.with-red-theme.remodal-is-opening,
.remodal-bg.with-red-theme.remodal-is-opened {
    filter: none;
}

.remodal-overlay.with-red-theme {
    background-color: #f44336;
}

.remodal.with-red-theme {
    background: #fff;
}
h1{font-family: 'Didact Gothic', sans-serif;}
h3{
    font-family: 'Didact Gothic', sans-serif;
}
h2{
    font-family: 'Didact Gothic', sans-serif;

}

p{
    font-family: "Didact Gothic",sans-serif;
    color: #4A4A4A;

}
#backinf{
    background: #c8284e;
    background-image: url('img/Sin título-1-08.png'); 
    background-image: url('img/Sin título-1-08.png'), linear-gradient( to bottom right, #c8284e , #ff8070 );
    width:101%;
    margin-top: -15px;
}
#superior-1{
    background: rgba(23, 22, 22, 0.5) none repeat scroll 0% 0%;margin-top: -98px;position: inherit;
    width:101%;
}
#shearh{
    margin-top: -4%;
    text-align: center;
}
#sel3{
    margin-top: -1%;
    font-family: 'Didact Gothic', sans-serif;
}
#lupa{
    margin-top: -4px; 
}
#nav01{
    margin-top: 20px;
    border-radius: 36px;
    width: 84%;
}
#carAl{
    color: white;
}
#car-public{
    background: rgba(206, 206, 206, 0) none repeat scroll 0% 0%;color: white;
}
#ca-container
{
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0% 0%;
    width: 86%;
}
#pass{
    color: #F84F52;
    font-family: 'Didact Gothic', sans-serif;
}
#cuent-re{
    color:black;
    font-family: 'Didact Gothic', sans-serif;
}
#remenber{
    color: #F84F52;
    font-family: 'Didact Gothic', sans-serif;
}
#faceboton{
    background: rgb(69, 104, 178) none repeat scroll 0% 0%; border: medium none rgb(69, 104, 178);
}
#g-button{
    width: 192px;
}
#googleplus{
    color: red; margin-left: -16px;
}
#footer-infer{
    background: #c8284e;
    background-image: url('../img/Sin título-1-08.png'); /* fallback */
    background-image: url('../img/Sin título-1-08.png'), linear-gradient( to bottom right, #c8284e , #ff8070 ); /* W3C */

}

#politic{
    font-family: 'Didact Gothic', sans-serif;
    text-align: justify; color: black;
}
#text-caption{
    min-width: 300px;
}

#lineaInfe{
    border-color: #989898 -moz-use-text-color -moz-use-text-color;

}
.text-danger{
    color: #FC696E;
}
a{
    color: #FC696E;
}
#button-identify{
    float: right;
    border-radius: 0px;
}


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#menu-toggle{
    position: fixed;
    margin-left: -34px;
    border-radius: 0px;
    background: rgba(255, 0, 4, 0.5) none repeat scroll 0% 0%;
    color: white;
}
#mail-box{
    width: 336px;
    resize: none;
    line-height: 19px;
    overflow: auto;
    height: 124px;
}
#butt-mail, #butt-cont{
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
}
#button-face{
    background: #4568B2;
    color: white;
    border-radius: 0px;
}

#paymentform{
    margin-top: -52px;
}